.main-wrapper {
  margin-left: 200px;
  transition: margin-left 0.5s linear;
  padding: 0 20px;
}
.app-main {margin: 15px 0;}
.el-menu-horizontal {
  padding: 10px 0px;
  border-bottom: 2px solid #000;
  margin-bottom: 10px;
}
a {text-decoration: none;}
.router-link-exact-active span {
  color: cornflowerblue;
}
.router-link-exact-active path {
  fill: cornflowerblue !important;
}
.box h5 {
  color: #676a6c;
  margin: 0;
}
.box-title {
    padding: 14px 15px 7px;
    border-bottom: 1px solid #e7eaec;
    border-top: 4px solid #e7eaec;
    min-height: 25px;
}
.box-content {
  padding: 14px 15px 7px;
}
.filter-container {
  margin-bottom: 10px;
  .filter-item {
    display: inline-block;
  }
}
.el-header {
  padding: 0;
  height: auto !important;
  h3 {margin-top: 18px;}
  .el-button {margin: 10px 0;}
}
.el-table__header th div.cell {text-align: center;}
.el-table__row .el-button {padding: 7px 10px;}
.expand-table {
  font-size: 0;
  label {
    width: 90px;
    color: #99a9bf;
  }
  .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 30%;
  }
}
.fr {float: right;}
.fl {float:left;}
.clearFloat::after,.clearFloat::before {
  display: block;
  content: '';
  clear: both;
}
h1 ,h2, h3, h4, h5, h6, ul {margin: 0;}
li {list-style: none;}
